<div class="admin-title">
    <h2>Posts</h2>
    <a href="/add-posts" class="button" style="color:black"; >+Add New</a>

</div>

<ul class="admin-posts">
    <% data.forEach(post => { %>
     <li>
        <div id=D1 >
        <a href="/posts/<%= post._id %>">
            <%= post.title %> &nearr;
        </a>
    </div>
        <div class="admin-post-controls">
            <a href="/edit-posts/<%= post._id %>" class="btn">Edit</a>


            <form action="/delete-posts/<%= post._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete" class="btn">
            </form>
        </div>


     </li>
    <% }) %>
</ul>